:root {
	--frost-light-color: #88c0d0;
}

html * {
	font-size: 1em;
	color: white;
	font-family: DejaVu Sans Mono;
}

body {
	background-color: rgba(45, 52, 64, 0.95);
}

input {
	border: unset;
	background-color: unset;
	color: white;
}

#terminal-emulator {
	display: block;
}

.terminal-content {
	white-space: pre;
}

.prompt-prefix {
	color: var(--frost-light-color);
}
